// Styling for the header component.

/*.top-bar-title {*/
.top-bar-title {

  .site_logo {
    border-right: 1px solid $white;
    padding-right: $global-padding/2;
    margin-right: $global-margin/2;
    //display: inline-block;

    float: left;

    max-width: rem-calc(150);
    margin-bottom: 5px;

    max-width: rem-calc(150);
  }
  @include breakpoint( large down ) {
    .site_name {

      line-height: 1.4;
      margin-top: rem-calc(6);
      float: left;
    }
    .site_slogan {

      margin-top: $global-margin/2;
      display:block;
      font-size: rem-calc(16);
      clear:both;
    }
  }
  @include breakpoint(large) {

    .site_logo {
      max-width: rem-calc(150);
    }
    .site_slogan {
      line-height: 1;
    }
  }
  @include breakpoint(1200px) {

    width: rem-calc(547);

  }



}
/*width: rem-calc(600);*/
/*.site_logo {*/
/*@include grid-column(30%);*/
/*border-right: 1px solid $white;*/
/*}*/
/*.name_slogan {*/
/*@include grid-column(70%);*/
/*}*/

/*}*/

header {

  background: $black;

}
.menu-bar__wrapper {
  padding: 0;

  .title-bar {
    justify-content: flex-start;
  }
}
.topbar-responsive-logo img {
}
$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none
$topbar-unstack-breakpoint: large;
$dropdown-button-color: $blue;
/*$dropdown-button-color: lighten($topbar-responsive-bg, 10%);*/
.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    @include breakpoint( medium down ) {
      @include menu-direction( vertical );
      margin-left: rem-calc(20px);
    }

    background: $topbar-responsive-bg;

      li.is-dropdown-submenu-parent:last-of-type {
        @include breakpoint( large ) {
        margin-right: 0;
        border: 1px solid $white;
        color: $white;
        border-color: $white;
        border-radius: 5000px;
        background-color: $dropdown-button-color;
        transition: color 0.15s ease-in, border-color 0.15s ease-in;
    }
        > a {
          line-height:1.5;
          @extend .fi-eye;
          &:before {
            margin-right: rem-calc( 4px );
            font-size: rem-calc(24px);
          }
          &:after {
            display: none;
          }

        }

        &:hover {
          color: lighten($topbar-responsive-bg, 60%);
          border-color: lighten($topbar-responsive-bg, 60%);
        }

        @media screen and (max-width: 39.9375em) {
          width: 100%;
          margin: 0.875rem 0;
        }
      }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }
    /*may be able to remove*/
    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

  @include breakpoint( medium down ) {
    padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
  //dropdown
  .is-dropdown-submenu {
    @include breakpoint(medium down) {
      display: block;
      position: initial;
      background-color: initial;
      width: initial;
      border: 0;
    }
    background-color: $dropdown-button-color;
    right: 20px !important;
    border-top: 0px;
    //background: white !important;
    min-width:initial;
    width: 146px;
    padding: $global-padding/2;

  }
  .is-dropdown-submenu-item {
    a {
          padding: 0.7rem 1rem;
              line-height: 1;
    
    }
    @include breakpoint( large ) {

    &:hover {
      color:$white;
      background-color: $topbar-responsive-bg;
    }
      padding: $global-padding/2;
    }
  }
}

.topbar-responsive .menu a {
  &[href*="/about"] { @extend .fi-info}
  &[href*="/donate"] {  @extend .fi-dollar }
  &[href*="/sighting-report-map"] {   @extend .fi-map }
  &:before { margin-right: rem-calc( 4px ); }

}
//.topbar-responsive .menu a[href*="/about"] { }

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}


