// Styling for Drupal tabs.

.tabs,
.tabs--primary,
.tabs--secondary {
  border-bottom: 2px solid $light-gray;
  margin: 1rem 0;

  a {
    background-color: $light-gray;
    border: 1px solid $light-gray;
    border-bottom: none;
    margin-right: 0.5rem;
  }

  li:first-child a {
    margin-left: 0.5rem;
  }

  a.is-active {
    background-color: $white;
  }
}