<nav role="navigation" aria-label="You are here:">
  <h2 class="show-for-sr">Breadcrumb</h2>
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Aenean Dapibus</a></li>
    <li><a href="#">Donec Aros Porttitor</a></li>
    <li>Vivamus Ligula Magna</li>
  </ul>
</nav>