<ul class="dropdown menu" data-dropdown-menu="dropdown-menu">
  <li>
    <a href="#">Home</a>
  </li>
  <li>
    <a href="#">Aenean Dapibus</a>
    <ul class="menu">
      <li>
        <a href="#">Donec Aros Porttitor</a>
      </li>
      <li>
        <a href="#">Vivamus Ligula Magna</a>
      </li>
    </ul>
  </li>
</ul>